{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/login.css') }}" />
{% endblock %}

{% block body %}
    <div class="container">
        <div class="wrapper">
            <form method="post" class="form-signin">
                <h3>{{ 'security.login.title'|trans }}</h3>
                <div class="js-recommended-login">
                    <a href="#" class="js-show-login">{{ 'security.login.forgetPassword'|trans }}</a>
                </div>
                <hr class="colorgraph" />

                <br/>

                {% if error %}
                    <div class="alert alert-block alert-danger">{{ error.messageKey|trans }}</div>
                {% endif %}

                <input type="email"
                       class="form-control js-login-field-username"
                       id="inputEmail"
                       name="email"
                       value="{{ last_username }}"
                       required="required"
                       placeholder="{{ 'security.login.username'|trans }}"
                />
                <input type="password"
                       class="form-control"
                       id="inputPassword"
                       name="password"
                       required="required"
                       placeholder="{{ 'security.login.password'|trans }}"
                />

                <input type="checkbox" name="_remember_me" checked style="display: none;" />
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <button type="submit" class="btn btn-primary btn-lg btn-block">
                    {{ 'security.login.btn'|trans }}
                </button>
            </form>
        </div>
    </div>
{% endblock %}



