{% extends 'base.html.twig' %}
{% block title %}Register!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/login.css') }}">
{% endblock %}
{% block body %}
    <div class="containerRegister">
        <div class="row">
            <div class="col-sm-12">
                <form class="form-signin" method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
                    {{ form_start(form) }}
                    {{ form_row(form, { 'attr': { 'class' : 'form-control' }} ) }}
                    {{ form_errors(form, { 'attr': { 'class' : 'form-control' }} ) }}
                    {{ form_row(form.save, { 'attr': { 'class' : 'btn btn-group pull-right' }} ) }}
                    {{ form_rest(form, { 'attr': { 'class' : 'form-control' }} ) }}
                    {{ form_end(form, { 'attr': { 'class' : 'form-control' }} ) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/login.js') }}"></script>
{% endblock %}