{% extends 'base.html.twig' %}
{% block title %}Manage Account!{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('build/dashboard.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
    <div id="containerDashboard">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <div class="panel-body shadow account">
                    {% if user.image == null %}
                        <img class="img-responsive" src="{{asset('build/static/silhouette.png') }}">
                    {% else %}
                        <img class="img-responsive" src="{{asset('public/uploads/pictures/optimized/' ~ user.image) }}">
                    {% endif %}
                    <p>{{ user.firstName }} {{ user.lastName }}</p>
                    <p>SwapBank : {{ user.account }}</p>
                    <a href="">
                        <button id="boutonProfil" class="btn btn-primary text-center col-md-12">{{ 'core.dashboard.block_profil.btn_profil'|trans }}</button>
                    </a>
                </div>
            </div>
        <div class="col-md-7">
        <div class="panel-body shadow account">
            <a href="">
                <button type="button" class="btn btn-info btn-lg col-xs-3">{{ 'core.dashboard.btn_swaps'|trans }} <span class="glyphicon glyphicon-edit"></span></button>
            </a>
            <a href="">
                <button type="button" class="btn btn-success btn-lg col-xs-offset-1 col-xs-4">{{ 'core.dashboard.btn_add_swap'|trans }} <span class="glyphicon glyphicon-plus"></span></button>
            </a>
            <button type="button" class="btn btn-primary btn-lg col-xs-offset-1 col-xs-3">{{ 'core.dashboard.btn_messages'|trans }} <span class="glyphicon glyphicon-envelope"></span></button>
        </div>
        <div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div id="panelClickable" class="panel panel-info shadow account">
                    <div class="panel-heading">
							<span class="titreCompte"><p>{{ 'core.dashboard.block_request_received.title'|trans }}</p><span>
							<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                    </div>
                    <div id="panelClickableBody" class="panel-body">
                        <div class="table-responsive">

                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <td>Statut</td>
                                                <td>Date/Service</td>
                                                <td>Membre</td>
                                                <td>Total SwapPoints</td>
                                                <td>Action</td>
                                            </tr>
                                            </thead>
                                            {% for swapService in swapServices %}
                                    {% for booking in swapService.bookings %}
                                        {% if booking.bookingState.label == 'Waiting' %}
                                            <tbody>
                                                <tr>
                                                    <td> En Attente</td>
                                                    <td id="table">
                                                        Du : {{ booking.dateStart|date('d-m-Y') }} </br>
                                                        Au : {{ booking.dateEnd|date('d-m-Y') }}
                                                    </td>
                                                    <td>
                                                        {{ booking.user.firstName }} {{ booking.user.lastName }}
                                                    </td>
                                                    <td>{{ booking.transaction.amount }}</td>
                                                    <td id="actionBtn">
                                                        <div>
                                                            <a href="{{ path('swap_booking_accepted', {'bookingId': booking.id })}}">
                                                                <button class="btn btn-primary raleway400 text-center col-xs-94 col-xs-offset-1"><span class="glyphicon glyphicon-ok"></button>
                                                                </div>
                                                             </a>
                                                        </div>
                                                        <div>
                                                            <a href="{{ path('swap_booking_canceled', {'bookingId': booking.id })}}">
                                                                <button class="btn btn-danger raleway400 text-center col-xs-94 col-xs-offset-1"><span class="glyphicon glyphicon-remove"></span></button>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            {% endif %}
                                {% endfor %}
                            {% endfor %}
                                        </table>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="panelClickable" class="panel panel-info shadow account">
                            <div class="panel-heading">
    							<span class="titreCompte"><p>{{ 'core.dashboard.block_request_sent.title'|trans }} <span class="badge"></span></p><span>
    							<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                            </div>
                            <div id="panelClickableBody" class="panel-body">
                                <table>
                                    <thead>
                                        <tr>
                                            <td>Statut</td>
                                            <td>Date/Service</td>
                                            <td>Membre</td>
                                            <td>Total SwapPoints</td>
                                            <td>Action</td>
                                        </tr>
                                    </thead>
                                    {% for bookingDone in bookingsDone %}
                                        {% if bookingDone.bookingState.label == 'Waiting' %}
                                            <tbody>
                                                <tr>
                                                    <td> {{ bookingDone.bookingState.label }} </td>
                                                    <td>
                                                      </br>
                                                        Du : {{ bookingDone.dateStart|date('d-m-Y') }} </br>
                                                        Au : {{ bookingDone.dateStart|date('d-m-Y') }}
                                                    </td>
                                                    <td>
                                                        {{ bookingDone.swapService.user.lastName }} {{ bookingDone.swapService.user.lastName }}
                                                    </td>
                                                    <td>{{ bookingDone.transaction.amount }}</td>
                                                    <td>
                                                        <a href="{{ path('swap_booking_canceled', {'bookingId': bookingDone.id })}}">
                                                            <button class="btn btn-danger raleway400 text-center col-xs-94 col-xs-offset-1"><span class="glyphicon glyphicon-remove"></span></button>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="panelClickable" class="panel panel-info shadow account">
                                    <div class="panel-heading">
            							<span class="titreCompte"><h3 class="panel-title">{{ 'core.dashboard.block_next_swap_toReceived.title'|trans }} <span class="badge"></span></h3><span>
            							<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                                    </div>
                                    <div id="panelClickableBody" class="panel-body">
                                        {% for bookingDone in bookingsDone %}
                                            {% if bookingDone.bookingState.label == 'Accepted' %}
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <td>Statut</td>
                                                            <td>Date/Service</td>
                                                            <td>Membre</td>
                                                            <td>Action</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{ bookingDone.bookingState.label }}</td>
                                                            <td>
                                                             </br>
                                                                Du : {{ bookingDone.dateStart|date('d-m-Y') }}</br>
                                                                Au : {{ bookingDone.dateEnd|date('d-m-Y') }}
                                                            </td>
                                                            <td>
                                                                {{ bookingDone.swapService.user.lastName }} {{ bookingDone.swapService.user.lastName }}
                                                            </td>
                                                            <td>
                                                                <a href="{{ path('swap_booking_canceled', {'bookingId': bookingDone.id })}}">
                                                                    <button class="btn btn-danger raleway400 text-center col-xs-94 col-xs-offset-1"><span class="glyphicon glyphicon-remove"></span></button>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                 </table>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="panelClickable" class="panel panel-info shadow account">
                                            <div class="panel-heading">
                    							<span class="titreCompte"><h3 class="panel-title">{{ 'core.dashboard.block_next_swap_toGive.title'|trans }} <span class="badge"></span></h3><span>
                    							<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                                            </div>
                                            <div id="panelClickableBody" class="panel-body">
                                                <table>
                                                    <thead>
                                                    <tr>
                                                        <td>Date/Service</td>
                                                        <td>Membre</td>
                                                        <td>Action</td>
                                                    </tr>
                                                    </thead>
                                                    {% for swapService in swapServices %}
                                                        {% for booking in swapService.bookings %}
                                                            {% if booking.bookingState.label == 'Accepted' %}
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                           </br>
                                                                            Du : {{ booking.dateStart|date('d-m-Y') }} </br>
                                                                            Au : {{ booking.dateEnd|date('d-m-Y') }}
                                                                        </td>
                                                                        <td>
                                                                            {{ booking.user.firstName }} {{ booking.user.lastName }}
                                                                        </td>
                                                                        <td>
                                                                            <a href="{{ path('swap_booking_canceled', {'bookingId': booking.id })}}">
                                                                                <button class="btn btn-danger raleway400 text-center col-xs-94 col-xs-offset-1"><span class="glyphicon glyphicon-remove"></span></button>
                                                                             </a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('build/dashboard.js') }}"></script>
    {% endblock %}