{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} - {{ controller_name }}{% endblock %}
{% block stylesheets %}
	<link href="{{ asset('build/home.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	<div class="flexslider">
		<ul class="slides">
			<li>
				<img src="{{asset('build/static/imageSlider1.jpg') }}">
			</li>
			<li>
				<img src="{{asset('build/static/imageSlider3.jpg') }}">
			</li>
			<li>
				<img src="{{asset('build/static/imageSlider4.jpg') }}">
			</li>
		</ul>
	</div>

	<div class="containerHomePage">
	  <div class="row">
	    <div class="col-xs-offset-1 col-xs-10">
	      <div class="panel panel-default">
	        <div class="panel-body shadow">
	          <h1 class="titleArticle"> <span class="glyphicon glyphicon-refresh icone"></span> <br /> <br />
                  {{ 'core.index.title_concept1'|trans }}
	          </h1>
	          <article class="article">
                  {{ 'core.index.block_concept1'|trans }}
	          </article>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-xs-offset-1 col-xs-10">
	      <div class="panel panel-default">
	        <div class="panel-body shadow">
	          <h1 class="titleArticle"><span class="glyphicon glyphicon-ok icone"></span> <br /> <br />{{ 'core.index.title_concept3'|trans }}</h1>
	          <aricle class="article">
                  {{ 'core.index.block_concept3'|trans }}
	          </h2>
	        </div>
	      </div>
	    </div>
	  </div>
		<div class="row" id="blocConcept2">
			<div class="col-xs-offset-1 col-xs-10">
				<div class="panel panel-default">
					<div class="panel-body shadow">
						<h1 class="titleArticle">
							<span class="glyphicon glyphicon-globe icone"></span> <br /> <br />{{ 'core.index.title_concept2'|trans }}</h1>
						<article class="article">
                            {{ 'core.index.block_concept2'|trans }}
							</h2>
					</div>
				</div>
			</div>
		</div>
	  <div class="row" id="blocConcept4">
	    <div class="col-xs-offset-1 col-xs-10">
	      <div class="panel panel-default">
	        <div class="panel-body shadow">
	        <h1 class="titleArticle"><span class="glyphicon glyphicon-star icone"></span> <br /> <br />{{ 'core.index.title_concept4'|trans }}</h1>
	        <article class="article">
                {{ 'core.index.block_concept4'|trans }}
	        </h2>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('build/home.js') }}"></script>
{% endblock %}
