{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('build/booking.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}
{% block body %}
    <div class="containerBooking">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <div class="panel-body shadow Compte">
                    <img class="img-responsive" src="{{asset('build/static/silhouette.png') }}">
                    <a href="asset('build/static/silhouette.png')">
                        <a id="btnSendMessage" href="{{ path('app_message_send', {'serviceId': swapId })}}" type="button" class="btn btn-primary text-center col-md-12">Envoyer un message</a>
                    </a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="panel-body shadow Compte">
                    <h3>Reservation</h3>
                    <span class="sousTitre"><p>Effectuer une réservation</p><span>
                    {{ form_start(form) }}
                    {# Les erreurs générales du formulaire. #}
                    <label>Choisissez vos dates : </label>
                    <input type="text" name="daterange"  class="form-control form-control" required="required" />
                    {{ form_row(form.date_start, { 'attr': { 'class' : 'form-control' }} ) }}
                    {{ form_row(form.date_end, { 'attr': { 'class' : 'form-control' }} ) }}
                    {{ form_row(form.save, { 'label': 'Demande de réservation', 'attr': { 'class' : 'col-sm-offset-18 btn btn-primary ' }} ) }}
                    {{ form_rest(form, { 'attr': { 'class' : 'form-control' }} ) }}
                    {{ form_end(form, { 'attr': { 'class' : 'form-control' }} ) }}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-body shadow Compte">
					<span class="Comment"><p>Les derniers commentaires</p><span>
					<hr>

                        <div class="row">
							<div class="col-xs-12">

							</div>
							<div class="col-xs-12">

							</div>
						</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="js-user-rating" data-is-authenticated="{{ dateBooked }}">
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript">
        var dateBooked = document.querySelector('.js-user-rating');
        var dateBooked = dateBooked.dataset.isAuthenticated;
        var jsonDecodeArray = JSON.parse(dateBooked);
        console.log(jsonDecodeArray);
        $('input[name="daterange"]').daterangepicker({
            "locale": {
                "format": "DD/MM/YYYY",
                "separator": " - ",
                "applyLabel": "Valider",
                "cancelLabel": "Annuler",
                "fromLabel": "De",
                "toLabel": "à",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    "Dim",
                    "Lun",
                    "Mar",
                    "Mer",
                    "Jeu",
                    "Ven",
                    "Sam"
                ],
                "monthNames": [
                    "Janvier",
                    "Février",
                    "Mars",
                    "Avril",
                    "Mai",
                    "Juin",
                    "Juillet",
                    "Août",
                    "Septembre",
                    "Octobre",
                    "Novembre",
                    "Décembre"
                ],
                "firstDay": 1
            },
            'isInvalidDate': function (date) {
                if (moment(date).isBefore(moment().format('YYYY-MM-DD'))) {
                    return true;
                }
                for (var i = 0; i < jsonDecodeArray.length; i++) {
                    var dateStart = '20' + jsonDecodeArray[i].dateStart.year + '-' + jsonDecodeArray[i].dateStart.month + '-' + jsonDecodeArray[i].dateStart.day;
                    var dateEnd = '20' + jsonDecodeArray[i].dateEnd.year + '-' + jsonDecodeArray[i].dateEnd.month + '-' + jsonDecodeArray[i].dateEnd.day;
                    if (date.format('YYYY-MM-DD') == dateStart) {
                        return true;
                    }
                    if (date.format('YYYY-MM-DD') == dateEnd) {
                        return true;
                    }
                    if (moment(date).isAfter(dateStart) == true && moment(date).isBefore(dateEnd) == true) {
                        return true;
                    }
                }
            },
        });
        $('input[name="daterange"]').change(function(){
            var startDate = $('input[name="daterange"]').data('daterangepicker').startDate._d;
            var endDate = $('input[name="daterange"]').data('daterangepicker').endDate._d;

            document.getElementById("booking_form_date_start").value = moment(startDate).format('YYYY-MM-DD');
            document.getElementById("booking_form_date_end").value = moment(endDate).format('YYYY-MM-DD');;
        });
    </script>
{% endblock %}