{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('build/message.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
<div class="containerMessage">
 <div class="row">
		<div class="col-md-offset-1 col-md-10 ">
			<div id="mailBox">
				{% if messages|length == 0 %}
					<div class="row">
						<div class="col-md-offset-1 col-md-10 ">
							<div id="empty">
								<p>Vous n'avez aucun messsage !</p>
							</div>
						</div>
					</div>
				{% endif %}
				{% for message in messages %}
					{% if message.userSender.id == idUser %}
						<div class="row">
							<div class="col-md-offset-1 col-md-10 ">
								<div>
									<a href="{{ path('app_message_send', { 'serviceId': message.serviceId }) }}">
									<div id="silhouette" class="col-xs-1">
										<img class="img-responsive img-circle" src="{{asset('build/static/silhouette.png') }}"  />
									</div>
									<div class="col-md-offset-1 col-md-2 ">
										{{  message.userReceiver.firstName }}
									</div>
									<div class="col-md-2 ">
										{{ message.content }}
									</div>
									</a>
								</div>
							</div>
						{% else %}
							<div class="row">
							<div class="col-md-offset-1 col-md-10 ">
								<div>
									<a href="{{ path('app_message_send', { 'serviceId': message.serviceId }) }}">
										<div id="silhouette" class="col-xs-1">
											<img class="img-responsive img-circle" src="{{asset('build/static/silhouette.png') }}"  />
										</div>

										<div class="col-md-offset-1 col-md-2 ">
										{{ message.userSender.firstName }}
										</div>
										<div class="col-md-2 ">
										{{ message.content }}
										</div>
									</a>
								</div>
							</div>
						{% endif %}
					</div>
					<hr/>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/message.js') }}"></script>
{% endblock %}